$primary: #000000;

$font-family-base: 'Roboto', sans-serif;

$input-border-radius: 0px;
$input-border-color: $primary;
$input-height: 48px;
$input-line-height: 1.8;

$form-label-font-weight: 400;

$form-check-input-border-radius: 0px;
$form-check-input-border: 2px solid $primary;

$btn-font-family: 'Roboto', sans-serif;
$btn-font-size: 18px;
$btn-font-weight: 700;
$btn-padding-x: 2rem;
$btn-padding-y: 12px;
$btn-border-radius: 0px;
